@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-UltraLightItalic.woff2") format("woff2"),
		url("../fonts/Gilroy-UltraLightItalic.woff") format("woff");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}
